.container{
  height: 400px;
  width: 25%;
  margin: auto;
  padding: 100px;
  
}
.signIn,.register{
    width: 45%;
    border: none;
    height: 40px;
    margin: 10px 0px;
    padding: 0;
    background-color: white;
    font-size: 30px;

}
.signIn:hover,.register:hover{
  border-bottom: 3px solid blue;
}

label{
    font-size:20px ;
    padding: 30px 0px;
    margin: 60px 0px ;
}
.ip{
   margin: 10px 0px;
}
label{
    font-size: 25px;
}
