#login-registration{
    height: 400px;
    width: 25%;
    margin: auto;
    padding: 100px;
 
   }
     .tab{
    width: 45%;
    border: none;
    height: 40px;
    margin: 10px 0px;
    padding: 0;
    background-color: white;
    font-size: 30px;

     }
     .tab:hover{
       border-bottom: 3px solid blue;
     }
     label{
   font-size:20px;
   padding: 30px 0px;
   margin: 70px 0px;

   }
   input{
       margin: 10px 0px;
   }
   .submit{
       padding: 5px;
       font-size: 20px;
       width: 90px;
   }